

.slice {
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    min-height: 100px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.17);
    transition: opacity 200ms ease-in;
    margin-right: auto;
    margin-left: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.slice.dragging {
    opacity: 0.3;
}

.slice .body {
    padding: 10px;
    overflow: hidden;
    flex-grow: 1;
}

.slice .header {
    padding: 5px 10px;
    /* color: white; */
    background: #efefef;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;

    display: flex;

}


.slice .header .button {
    border-radius: 3px;
    font-size: 17px;
    margin: 0 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    right: -6px;
    padding: 2px 5px;
    color: gray;
}

.slice .header .button-toggle {
    font-size: 11px;
    margin-top: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: gray;
    margin-right: 5px;
    -webkit-user-select: none;
}

.slice .header .button-toggle.active {
    color: purple;
}

.slice .header .button:hover {
  color: black;
}

.slice .header .button.active {
    color: purple;
}






.row-1 {
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}


.bread-row > * {
	display: flex;
}
.bread-row {
  border-bottom: 5px solid transparent;
}
.bread-row:first-child {
	border-top: 5px solid transparent;
}


.bread-row.insert-top {
  border-top: 5px solid orange; 
}

.bread-row.insert-bottom {
  border-bottom: 5px solid orange; 
}


.bread-col {
	flex-basis: 0;
	flex-grow: 1;
	border-right: 5px solid transparent;
	padding: 5px;
  overflow: hidden;
}
.bread-col:first-child {
	border-left: 5px solid transparent;
}


.bread-col.insert-left {
  border-left: 5px solid orange; 
}

.bread-col.insert-right {
  border-right: 5px solid orange; 
}


.fake-slice {
  border: 2px dashed #d8d8d8;
  border-radius: 2px;
  min-height: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 100px;
  color: #d8d8d8;
  -webkit-user-select: none;
  cursor: pointer;

  transition: all 200ms ease-in;
}

.fake-slice:hover {
  border: 2px dashed gray;
  color: gray;
}


.example-enter {
  /* 0 does not work so we have to use a small number */
  /* Start our small */
  flex: .00001;

  -webkit-animation: flexGrow 300ms ease forwards;
  -o-animation: flexGrow 300ms ease forwards;
  animation: flexGrow 300ms ease forwards;
}


.example-leave {
  flex: 1;

  -webkit-animation: flexShrink 300ms ease forwards;
  -o-animation: flexShrink 300ms ease forwards;
  animation: flexShrink 300ms ease forwards;
}

.example-leave > * {
  min-width: 200px;
}


@-webkit-keyframes flexGrow {
  to { flex: 1; }
}
@-o-keyframes flexGrow {
  to { flex: 1; }
}
@keyframes flexGrow {
  to { flex: 1; }
}

@-webkit-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@-o-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
