.row-1 {
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.bread-row > * {
	display: flex;
}

.divider {
    box-sizing: border-box;
    height: 9px;
    
    cursor: vertical-text;
    
    text-align: center;
    opacity: 0;

    padding: 2px 0;

    background-clip: padding-box !important;
    border: 2px solid transparent;
    border-left: 0;
    border-right: 0;

    margin: 0 10px;
    transition: opacity 200ms ease-in;
}

.divider:hover {
  opacity: 1;
}

.divider::after {
    height:1px;
    background: #D4D4D4;   
    content: " ";
    width: 100%;
    display: block;
}


.bread-row.insert-top .divider.divider-top,
.bread-row.insert-bottom .divider.divider-bottom {
  background: orange;
  opacity: 1;
}

.bread-row.insert-top .divider.divider-top::after, 
.bread-row.insert-bottom .divider.divider-bottom::after {
  background: transparent;
}

.bread-col {
	flex-basis: 0;
	flex-grow: 1;
	border-right: 5px solid transparent;
	padding:  5px 5px 7px 5px;
  overflow: hidden;
  transition: border-color 200ms ease-in;
}

.bread-col:first-child {
	border-left: 5px solid transparent;
}


.bread-col.insert-left {
  border-left: 5px solid orange; 
}

.bread-col.insert-right {
  border-right: 5px solid orange; 
}



.bread-enter {
  /* 0 does not work so we have to use a small number */
  /* Start our small */
  flex: .00001;

  -webkit-animation: flexGrow 300ms ease forwards;
  -o-animation: flexGrow 300ms ease forwards;
  animation: flexGrow 300ms ease forwards;
}


.bread-leave {
  flex: 1;

  -webkit-animation: flexShrink 300ms ease forwards;
  -o-animation: flexShrink 300ms ease forwards;
  animation: flexShrink 300ms ease forwards;
}

.bread-leave > * {
  min-width: 200px;
}


@-webkit-keyframes flexGrow {
  to { flex: 1; }
}
@-o-keyframes flexGrow {
  to { flex: 1; }
}
@keyframes flexGrow {
  to { flex: 1; }
}

@-webkit-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@-o-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
